*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

header{
    background-color: #BBB; 
}

header li{
    display: inline;
    margin-right: 15px;
}

a{
    text-transform: uppercase;
    color: #000;
    font-weight: bold;
    font-size: 22px;
}